.tfs-banner {
    color: black;
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tfs-banner-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tfs-title {
	padding-left: 32px;
}

.tfs-logo {
    height: 60px;
    width: auto;
}