.tfs-cart-shop{
    padding: 32px;
    color: white;
    background-color:#31b572;
}

.tfs-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.tfs-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;
}

.tfs-cart-closed {
	padding: 32px;
	width: 200px;
}

.tfs-cart-closed > button {
	color: black;
}