.tfs-sales {
	font-weight: 500;
	color: white;
	padding: 4px 10px;
	background-color: #31b572;
}

.tfs-shopping-list {
	width: 100%;
}

.tfs-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}